name: test

on:
  push:
    branches:
      - main
      - release
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v3.5.3
      - name: "check tags are correct"
        uses: giacomocavalieri/tagref_action@v1
      - name: setup beam
        uses: erlef/setup-beam@v1.16.0
        with:
          otp-version: "26.0.2"
          gleam-version: "0.30.5"
          rebar3-version: "3"
      - name: check formatting
        run: gleam format --check src test
      - name: dependencies download
        run: gleam deps download
      - name: erlang target tests
        run: gleam test --target=erlang
      - name: javascript target tests
        run: gleam test --target=javascript
